@font-face {
    font-family: 'Centro';
    src: url('/fonts/elcentrodemonterrey-new-Regular.woff2') format('woff2'),
        url('/fonts/elcentrodemonterrey-new-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    text-rendering: optimizeLegibility;
  }
