h1{
    font-family: $Centro;
    font-size: 32px;
    font-weight: 100
}

p{
    font-family: $Centro;
    font-size: 14px;
    color: black;
    font-weight: 100
}

a{
    color: black;
    &:hover{
        color: #efc06a;
    }
}