// -- Colors -- //
$gray: #707070;
$shadow: rgba(255, 255, 255, 0.33);
$highlighter: #efc06a;

// -- Fonts -- //
$Centro: "Centro", Helvetica, sans-serif;

// -- Helpers -- //

.m-d-60 {
  margin-bottom: 60px !important;
}

.p-l-60 {
  padding-left: 60px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}
.p-t-100 {
  padding-top: 100px !important;
}
.p-t-200 {
  padding-top: 200px !important;
}

.p-t-400 {
  padding-top: 400px !important;
}
